{% extends 'systan/index2.html' %}
{% load static %}
{% block title %}テスト{% endblock %}
{% block content %} 
{% if japanese_list %}
<div class="game">
    <form action="{% url 'systan:game_data_post' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="all_id" value="{{index_list}}">
        <input type="hidden" name="student_id" value="{{student_id}}">
        <input type="hidden" name="type" value="{{type}}">
        <div class="table">
            <ul class="english"></ul>
            <ul class="japanese"></ul>
        </div>
        <div class="game-end">
            <input type="submit" value="戻る">
        </div>
    </form>
</div>
<div class="gamepad">
    <a class="exit" href="{% url 'systan:words_individual' student_id %}">中断</a>
    <div class="question">ここに問題が表示されます。</div>
    <div class="answer">解答を表示</div>
    <div class="select">
        <button id="incorrect">不正解</button>
        <button id="correct">正解</button>
    </div>
</div>
<script>
    {% autoescape off %}
    const question_list = {{english_list}};
    const answer_list = {{japanese_list}};
    {% endautoescape %}

    const question_display = document.querySelector('.question');
    const answer_display = document.querySelector('.answer');
    const correct_btn = document.querySelector('#correct');
    const incorrect_btn = document.querySelector('#incorrect');
    const eng = document.querySelector('.english');
    const jap = document.querySelector('.japanese');

    let i = 0;
    question_display.innerHTML = question_list[i];
    answer_display.addEventListener('click', (e) => {
        answer_display.innerHTML = answer_list[i];
    });
    correct_btn.addEventListener('click', (e) => {
        i++
        question_display.innerHTML = question_list[i];
        answer_display.innerHTML = "解答を表示";
        var li1 = document.createElement('li');
        li1.innerHTML = '<span>'+question_list[i-1]+'</span><input type="checkbox">'
        var li2 = document.createElement('li');
        li2.innerText = answer_list[i-1]
        eng.prepend(li1);
        jap.prepend(li2);
        if(i>=question_list.length){
            document.querySelector('.gamepad').style.display = 'none';
        };
    });
    incorrect_btn.addEventListener('click', (e) => {
        i++
        question_display.innerHTML = question_list[i];
        answer_display.innerHTML = "解答を表示";
        var li1 = document.createElement('li');
        li1.innerHTML = '<span>'+question_list[i-1]+'</span><input type="checkbox" checked>'
        var li2 = document.createElement('li');
        li2.innerText = answer_list[i-1]
        eng.prepend(li1);
        jap.prepend(li2);
        if(i>=question_list.length){
            document.querySelector('.gamepad').style.display = 'none';
        };
    });
</script>
{% else %}
<div class="game-mode">
    <p>シスタン:</p>
    <a href="{% url 'systan:words_individual' student_id %}" class="now">単語</a>
    <a href="{% url 'systan:phrases_individual' student_id %}">フレーズ</a>
</div>
<div class="non-incorrect">
    <div class="message">
        <p>間違えた問題はありません。</p>
        <p>他のモードを選択してください。</p>
    </div>
    <h1 class="menu">単語</h1>
    <div class="contents">
        <div class="detail">
            <div class="headline">
                <img src="{% static 'systan/picture/image2.png' %}" alt="">
                <h1>復習</h1>
            </div>
            <div class="select-btn">
                <a href="{% url 'systan:tests_individual' 'words' 'Stage1' 'review' student_id %}">Stage1</a>
                <a href="{% url 'systan:tests_individual' 'words' 'Stage2' 'review' student_id %}">Stage2</a>
                <a href="{% url 'systan:tests_individual' 'words' 'Stage3' 'review' student_id %}">Stage3</a>
                <a href="{% url 'systan:tests_individual' 'words' 'Stage4' 'review' student_id %}">Stage4</a>
            </div>
        </div>
        <p>前回間違えた問題から出題</p>
    </div>
    <h1 class="menu">フレーズ</h1>
    <div class=""></div>
    <div class="contents">
        <div class="detail">
            <div class="headline">
                <img src="{% static 'systan/picture/image2.png' %}" alt="">
                <h1>復習</h1>
            </div>
            <div class="select-btn">
                <a href="{% url 'systan:tests_individual' 'phrases' 'Stage1' 'review' student_id %}">Stage1</a>
                <a href="{% url 'systan:tests_individual' 'phrases' 'Stage2' 'review' student_id %}">Stage2</a>
                <a href="{% url 'systan:tests_individual' 'phrases' 'Stage3' 'review' student_id %}">Stage3</a>
                <a href="{% url 'systan:tests_individual' 'phrases' 'Stage4' 'review' student_id %}">Stage4</a>
                <a href="{% url 'systan:tests_individual' 'phrases' 'Stage5' 'review' student_id %}">Stage5</a>
            </div>
        </div>
        <p>前回間違えた問題から出題</p>
    </div>
</div>
{% endif %}
{% endblock %}