{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'systan/css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="now-app"><img src="{% static 'systan/picture/systan.jpg' %}" alt=""></div>
        <a href="{% url 'systan:home' type student_id %}"><img src="{% static 'systan/picture/image1.png' %}" alt=""></a>
        <nav>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </nav>
    </header>
    <div class="active">
        <div class="nav-menu">
            <ul>
                <li><a href="{% url 'systan:home' type student_id %}">シスタン・単語</a></li>
                <li><a href="{% url 'systan:home' type student_id %}">シスタン・フレーズ</a></li>
                <li><a href="{% url 'systan:others' type student_id %}">英単語ターゲット1900</a></li>
                <li><a href="{% url 'systan:others' type student_id %}">英熟語ターゲット1000</a></li>
                <li><a href="{% url 'systan:others' type student_id %}">鉄壁</a></li>
            </ul>
        </div>
    </div>
    <div class="air"></div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static 'systan/js/script.js' %}"></script>
</body>
</html>