{% load static %}
<div class="contents">
    <p>{{explain}}</p>
    <div class="detail">
        <div class="headline">
            <img src="{% static picture %}" alt="">
            <h1>{{headline}}</h1>
        </div>
        <div class="select-btn">
            <a href="{% url url 'words' category 'Stage1' mode student_id %}">Stage1</a>
            <a href="{% url url 'words' category 'Stage2' mode student_id %}">Stage2</a>
            <a href="{% url url 'words' category 'Stage3' mode student_id %}">Stage3</a>
            <a href="{% url url 'words' category 'Stage4' mode student_id %}">Stage4</a>
        </div>
    </div>
</div>